<div class="andre3000 six columns offset-by-five">

<h1>Serge Thompson</h1>

<a href="/contact"><img class="scale-with-grid"src="https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-prn2/c0.155.851.315/p851x315/1270452_10100832736975331_1063370362_o.jpg" alt="pic of me"></a>

<ul>
<li>Ski</li>
<li>Bike</li>
<li>Computers</li>
<li>Technology</li>
<li>Nanotech</li>
</ul>
</div>