<div class="six columns offset-by-five">

<h1>Serge Thompson</h1>

<a href="/contact"><img class="scale-with-grid"src="https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-prn2/c0.155.851.315/p851x315/1270452_10100832736975331_1063370362_o.jpg" alt="pic of me"></a>

<ul>
<li><h3>Ski</h3></li>
<li><h3>Bike</h3></li>
<li><h3>Computers</h3></li>
<li><h3>Technology</h3></li>
<li><h3>Nanotech</h3></li>
</ul>
</div>