<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Serge Thompson</title>
	<link rel="stylesheet" href="/stylesheets/base.css">
	<link rel="stylesheet" href="/stylesheets/skeleton.css">
	<link rel="stylesheet" href="/stylesheets/layout.css">
	<link rel="stylesheet" href="/stylesheets/styles.css">
	<link href="http://fonts.googleapis.com/css?family=Abel" rel="stylesheet" type="text/css">
</head>
<body>
	<div class="container">
		<%=yield%>
	</div>
	
</body>
</html>