


/*
.container{
	text-align: center;
	margin-top: 100px;
}





body{
	background-color: beige;
}

ul li{
	background-color: lightblue;
	border-radius: 1em;
	padding: .5em;
}

div.red{
	background-color: red;
	height: 50px;
}

div.red:nth-child(even){
	background-color: chartreuse;
}
img {
	border-radius: 5em;
}
*/